@page
@model InstrumentosMusicais.Pages.contra_baixoModel
@{
}
<div class="background">
    <div class="texto">
        <img id="capa" src="./lib/images/capa2.jpg" alt="Capa">

        <div class="text-center">
            <h1>Contra-baixo</h1>
            <img class="imgInstrumento" id="violao" src="./lib/images/contrabaixoImg.jpg" alt="Imagem contra-baixo">
            <h1 class="display-4"></h1>
            <div class="texto">
                <h1>Sobre o contra-baixo</h1>
                <p>
                    O contrabaixo é um cordofone, instrumento de cordas friccionadas por um arco, transpositor (soa uma oitava abaixo do que se lê na partitura),
                    também tocado por pizzicato (beliscado em italiano), com os dedos.
                </p>
                <p>
                    Dentre os instrumentos da família das cordas na orquestra é o registro mais grave e também o de maior tamanho. Usado em grandes orquestras em famílias de até 12 instrumentos e usado
                    sozinho na música de câmara, jazz e música popular.[1]
                    As suas cordas, da mai aguda à mais grave, possuem a seguinte afinação: sol2, ré2, lá-1, mi-1. Há também baixos de cinco cordas, possuindo uma corda mais grave afinada em si (ou, mais raramente, dó-2 ou lá-3) -
                    sendo o dó3 o dão tradicó central do piano (numeraçional e não a de midi que seria dó4 o central).
                </p>
                <p>
                    Seu uso na música de concerto é variado, na ocasião de seu aparecimento era usado para reforçar a melodia mais grave das polifonias,
                    quase sempre dobrando a melodia do violoncelo ou de seu "primo" violone. A partir de Beethoven ele passa a ser usado separadamente do violoncelo e no final do século XIX seu timbre passa
                    a ser mais explorado nas orquestrações de formas variadas, misturadas aos sons do fagote, contrafagote, clarone, etc. Muito além dos seus companheiros antigos de partitura: o violoncelo e os tímpanos.
                    Também no século XIX apareceram as primeiras peças para seu uso solístico em música de câmara e orquestral. Às vezes afinado em Ré (um tom acima da afinação normal)
                    num ato desesperado de trazer seu timbre para o primeiro plano da massa harmônica.
                </p>
            </div>
        </div>
    </div>
</div>