@page
@model IndexModel
@{
}<div class="background my-5">
    <img id="capa" src="./lib/images/capa2.jpg" alt="Capa">
    <div class="text-center">
        <h1 class="display-4"></h1>
        <div class="texto">
            <h1>Seja bem vindo</h1>
            <br />
            <p>
                Um instrumento musical é um objeto, construído com o propósito de produzir música. Os vários tipos de instrumentos podem ser classificados de diversas formas,
                sendo uma das mais comuns a divisão de acordo com a forma pela qual o som é produzido.

                O estudo dos instrumentos musicais designa-se por organologia.
            </p>
            <p>
                A data e a origem do primeiro aparelho considerado como instrumento musical é objeto de debates. Os arqueologistas tendem a debater este
                assunto referindo a validade de várias evidências como artefatos e trabalhos culturais.
            </p>
            <p>
                Instrumentista é um músico que toca algum instrumento. Observação: Pode soar estranho mas, na verdade, nem todos os músicos são instrumentistas (também chamados de concertistas, na música erudita).
                Alguns músicos seguem uma carreira sem tocar nenhum instrumento, como a de: Bibliotecário; Terapeuta Musical; Engenheiro de Som; Produtor Musical; Historiador; Professor; 
                Direito Musical; Jornalismo em Música; Empresário; Disc ou Vídeo Jockey; Diretor de Programação; Designer de Software ou Hardware de Música; etc.
                Até mesmo o Compositor pode saber tudo sobre os instrumentos, mas não tocar nada.
            </p>
            <p> 
                Estes não são intérpretes, mas os maiores estudiosos acadêmicos no campo da Música, 
                apesar que podem encontrar-se noutras especializações.
            </p>

        </div>
    </div>
</div>