@page
@model InstrumentosMusicais.Pages.violaoModel
@{
}
<div class="background">
    <div class="texto">
        <img id="capa" src="./lib/images/capa2.jpg" alt="Capa">

        <div class="text-center">
            <h1>Violão</h1>
            <img class="imgInstrumento" id="violao" src="./lib/images/imgViolao.jpg" alt="Imagem violão">
            <h1 class="display-4"></h1>
            <div class="texto">
                <h1>Sobre o violão</h1>
                <p>
                    O violão é um instrumento de cordas, com uma caixa geralmente feita de madeira, que gera uma acústica facilitando a propagação do som.
                    Em alguns países de língua espanhola é conhecido como guitarra. A história do violão nos remete há quase 2.000 A.C. Os atuais violonistas aceitam
                    atualmente duas teorias:
                </p>
                <p>
                    -O violão é um instrumento derivado do alaúde árabe, levado pelos mulçumanos para a península Ibérica e adaptando-se muito bem as atividades da corte;
                    -O violão derivou-se da “Cítara romana”, tendo seu uso expandindo com a dominação do império romano.
                    No Brasil temos a introdução da viola (instrumento de 10 ou 5 cordas duplas) trazida pelos portugueses durante a colonização do país.
                    Por certo tempo ainda houve uma confusão em relação aos termos viola/violão no país, hoje, porém a discrepância entre os dois instrumentos é notória.
                </p>
            </div>

        </div>
    </div>
</div>